    # Working Instructions               
    # Petunjuk Kerja      
    # Рабочее инструкции      

    # Language settings: English `en`, Russian `ru`, Indonesian `id`
    # Языковая настройка: доступны Английский `en`, Русский `ru`, Индонезийский `id`
    # Pengaturan bahasa: Inggris `en`, Rusia `ru`, Indonesia `id`

languages=id


#----------------
        
    #--Русский--#
    # Опция `force_start` отвечает за принудительный запуск без выбора из меню с использованием кнопок громкости. Скрипт выдаст ошибку, если конфигурация не настроена правильно. 
    # В любом из аргументов не должно быть значений `ask`. 
    # Доступны значения `false` или `true`.
    #
    #--Indonesian--#
    # Opsi `force_start` bertanggung jawab atas memulai secara paksa tanpa menu seleksi menggunakan tombol volume. Skrip akan menampilkan kesalahan jika konfigurasi tidak diatur dengan benar. 
    # Tidak boleh ada nilai `ask` dalam salah satu argumen. 
    # Opsi yang tersedia adalah `false` atau `true`.
    #
    #--English--#
    # The `force_start` option is responsible for initiating a forced start without the selection menu using volume keys. The script will throw an error if the configuration is not set up correctly. 
    # There should be no `ask` values in any of the arguments. 
    # Available options are `false` or `true`.

force_start=false

#----------------

    #--Русский--#
    # Настройте опцию если получаете ошибку 36.1 fstab не найден. Это может произойти если переменная пропа ro.hardware отличается в TWRP и запущено системе
    # ВЫ можете это проверить в теримнале TWRP прописав команду `getprop ro.hardware` и в запущеной системе через любой терминал, если пропы отличаються впишите значение которое отображается в запущеной системе
    # В ином случае оставте значение пустым
    #
    #--Indonesian--#
    # Atur opsi ini jika Anda mengalami kesalahan 36.1 fstab tidak ditemukan. Ini dapat terjadi jika variabel ro.hardware berbeda antara TWRP dan sistem yang berjalan.
    # Anda dapat memeriksa ini di terminal TWRP dengan memasukkan perintah `getprop ro.hardware`, dan di sistem yang berjalan melalui terminal apa pun. Jika props berbeda, masukkan nilai yang ditampilkan di sistem yang sedang berjalan.
    # Jika tidak, biarkan nilai kosong.
    #
    #--English--#
    # Set up this option if you encounter error 36.1 fstab not found. This may occur if the ro.hardware variable differs between TWRP and the running system.
    # You can check this in the TWRP terminal by entering the command `getprop ro.hardware`, and in the running system through any terminal. If the props are different, enter the value displayed in the running system.
    # Otherwise, leave the value blank.

ro_hardware=

#----------------
        
    #--Русский--#
    # Опция отключает проверку целостности системы
    # Доступны опции false, true, ask
    #
    #--Indonesian--#
    # Opsi ini menonaktifkan pemeriksaan integritas sistem
    # Opsi yang tersedia adalah false, true, ask
    #
    #--English--#
    # This option disables system integrity checking
    # Available options are false, true, ask

disable_verity_and_verification=ask

#----------------
        
    #--Русский--#
    # Опция позволяет скрыть отсутствие шифрования /data, работает только если selinux не настроен в enforcing режиме, также работает, если установлен Magisk или KernelSU
    # Доступны опции false, true, ask
    #
    #--Indonesian--#
    # Opsi ini memungkinkan untuk menyembunyikan ketidakhadiran enkripsi pada /data, hanya berfungsi jika selinux tidak diatur ke mode enforcing, juga berfungsi jika Magisk atau KernelSU terpasang
    # Pilihan yang tersedia adalah false, true, ask
    #
    #--English--#
    # This option allows hiding the absence of encryption on /data, works only if selinux is not set to enforcing mode, also works if Magisk or KernelSU is installed
    # Available options are false, true, ask

hide_not_encrypted=ask

#----------------

    #--Русский--#
    # *** Опция будет работать только если установлен Magisk/KernelSu или если у вас slinux=premisive
    # Кастомные пропы, будут заданы на том этапе на котором вы прописали
    # Пример использования: 
    # `custom_reset_prop="--init my.prop=value my.prop2=value my.prop3=value --early-fs my.prop=value my.prop2=value my.prop3=value"` и так далее
    # Доступтные этапы init: `--init`, `--early-fs`, `--post-fs-data`, `--boot_completed`
    # В ином случае оставьте пустым
    # 
    #--Indonesian--#
    # *** Opsi ini hanya akan berfungsi jika Magisk/KernelSu terinstal atau jika Anda memiliki selinux=permissive
    # Properti kustom akan diatur pada tahap di mana Anda menentukannya
    # Contoh penggunaan:
    # `custom_reset_prop="--init my.prop=value my.prop2=value my.prop3=value --early-fs my.prop=value my.prop2=value my.prop3=value"` dan seterusnya
    # Tahap yang tersedia: init: `--init`, `--early-fs`, `--post-fs-data`, `--boot_completed`
    # Jika tidak, biarkan kosong  
    #
    #--English--#
    # *** This option will only work if Magisk/KernelSu is installed or if you have selinux=permissive
    # Custom props will be set at the stage where you specified
    # Example of usage:
    # `custom_reset_prop="--init my.prop=value my.prop2=value my.prop3=value --early-fs my.prop=value my.prop2=value my.prop3=value"` and so on
    # Available stages: init: `--init`, `--early-fs`, `--post-fs-data`, `--boot_completed`
    # Otherwise, leave it blank

custom_reset_prop=""

#----------------
    
    #--Русский--#
    # Опция Добавить Собственный Список Запретов:
    # Эта опция записывает пакеты приложений в `denylist` при запуске. Работает только если установлен `Magisk`.
    # Вы можете настроить файл конфигурации вручную в `.zip/META-INF/tools/denylist.txt`.
    # Доступные варианты:  
    # `false` - отключить, `ask` - запросить во время установки,
    # `first_time_boot` - скрипт будет выполнен только один раз при первой загрузке, запись о первом использовании хранится в памяти Magisk,
    # `always_on_boot` - скрипт будет выполняться при каждой загрузке системы.
    #
    #--Indonesian--#
    # Opsi Daftar Ditolak:
    # Opsi ini menulis paket aplikasi ke `denylist` saat startup. Hanya berfungsi jika `Magisk` terinstal.
    # Anda dapat menyesuaikan file konfigurasi di `.zip/META-INF/tools/denylist.txt` secara manual.
    # Opsi yang tersedia:  
    # `false` - nonaktifkan
    # `ask` - tanya saat instalasi,
    # `first_time_boot` - skrip akan dijalankan hanya sekali selama boot pertama, pencatatan penggunaan pertama disimpan di memori Magisk,
    # `always_on_boot` - skrip akan berjalan setiap saat selama setiap boot sistem.
    #
    #--English--#
    # Denylist Option:
    # This option writes application packages to the denylist upon startup. It works only if Magisk is installed.
    # You can manually configure the configuration file in `.zip/META-INF/tools/denylist.txt`.
    # `false` - disable
    # `ask` - prompt during installation,
    # `first_time_boot` - the script will be executed only once during the first boot, recording of first-time usage is stored in Magisk memory,
    # `always_on_boot` - the script will run every time during each boot of the system.

add_custom_deny_list=ask

#----------------

    #--Русский--#
    # Опция Включить Режим `Zygisk`:
    # Эта опция принудительно включает режим `zygisk` при запуске устройства, даже если `Magisk` установлен впервые.
    # Доступные варианты: 
    # `false` - отключить, `ask` - запросить во время установки,
    # `first_time_boot` - скрипт будет выполнен только один раз при первой загрузке, запись о первом использовании хранится в памяти Magisk,
    # `always_on_boot` - скрипт будет выполняться при каждой загрузке системы.
    #
    #--Indonesian--#
    # Opsi Aktifkan Zygisk:
    # Opsi ini secara paksa mengaktifkan mode `zygisk` saat startup perangkat, bahkan jika `Magisk` diinstal untuk pertama kalinya.
    # Opsi yang tersedia: 
    # `false` - nonaktifkan
    # `ask` - tanya saat instalasi,
    # `first_time_boot` - skrip akan dijalankan hanya sekali selama boot pertama, pencatatan penggunaan pertama disimpan di memori Magisk,
    # `always_on_boot` - skrip akan berjalan setiap saat selama setiap boot sistem.
    #
    #--English--#
    # Zygisk Turn On Option:
    # This option forcibly enables `zygisk` mode on device startup, even if `Magisk` was installed for the first time. 
    # Available options: 
    # `false` - disable
    # `ask` - prompt during installation,
    # `first_time_boot` - the script will be executed only once during the first boot, recording of first-time usage is stored in Magisk memory,
    # `always_on_boot` - the script will run every time during each boot of the system.

zygisk_turn_on=ask

#----------------

    #--Русский--#
    # Включает встроенное исправление безопасности, встроенное в dfe-neo, которое запускается на этапе инициализации при загрузке, работает только если selinux не настроен в enforcing режиме, также работает, если установлен Magisk или KernelSU
    # Доступны опции false, true, ask
    #
    #--Indonesian--#
    # Mengaktifkan perbaikan safety net yang tertanam di dfe-neo, yang berjalan pada tahap inisialisasi selama boot, hanya berfungsi jika selinux tidak diatur ke mode enforcing, juga berfungsi jika Magisk atau KernelSU terpasang
    # Pilihan yang tersedia adalah false, true, ask
    #
    #--English--#
    # Enables the built-in safety net fix embedded in dfe-neo, which runs at the initialization stage during boot, works only if selinux is not set to enforcing mode, also works if Magisk or KernelSU is installed
    # Available options are false, true, ask

safety_net_fix=ask


#----------------

    #--Русский--#
    # Установите значение `true`, чтобы удалить блокировку PIN, `false` - в противном случае
    # Установите значение `ask`, чтобы запросить пользователя во время установки
    #
    #--Indonesian--#
    # Atur ke `true` untuk menghapus kunci PIN, `false` jika tidak
    # Atur ke `ask` untuk meminta pengguna selama instalasi
    #
    #--English--#
    # Set to `true` to remove the PIN lock, `false` otherwise
    # Set to `ask` to prompt the user during installation
    

remove_pin=ask

#----------------

    #--Русский--#
    # Установите значение `true`, чтобы стереть данные во время установки, `false` - в противном случае
    # Установите значение `ask`, чтобы запросить пользователя во время установки
    #
    #--Indonesian--#
    # Atur ke `true` untuk menghapus data selama instalasi, `false` jika tidak
    # Atur ke `ask` untuk meminta pengguna selama instalasi
    #
    #--English--#
    # Set to `true` to wipe data during installation, `false` otherwise
    # Set to `ask` to prompt the user during installation
    
    

wipe_data=false

#----------------
    
    #--Русский--#
    # Эта опция указывает, нужна ли помимо подстановки fstab в --late также подстановка в --early init при монтировании разделов из fstab. --early mount включает все разделы, кроме тех, у которых установлены флаги fisrt_stage_mount и latemount.
    # По умолчанию установлено false.
    # Если установлено в `ask`, скрипт запросит пользователя выбрать опцию при установке.
    #
    #--Indonesian--#
    # Opsi ini menentukan apakah, selain substitusi fstab --late, juga harus ada substitusi di peluncuran --early init saat memasang partisi dari fstab. --early mount mencakup semua partisi kecuali yang memiliki fisrt_stage_mount dan latemount flags.
    # Secara default, diatur sebagai false.
    # Jika diatur sebagai `ask`, maka skrip akan meminta pengguna untuk memilih opsi saat memasang.
    #
    #--English--#
    # This option specifies whether, in addition to --late fstab substitution, there should also be substitution in the --early init launch when mounting partitions from fstab. --early mount includes all partitions except those with fisrt_stage_mount and latemount flags.
    # By default, it is set to false.
    # If set to `ask`, the script will prompt the user to choose an option during installation.

modify_early_mount=ask

#----------------
    
    #--Русский--#
    # Блок настройки для удаления или замены паттернов в fstab. Оставьте по умолчанию, если не знаете для чего вам это нужно.
    #   `-m` указывает строку точки монтирования, в которой нужно удалить паттерны. Например, `-m /data`. После этого флага нужно указать `-r и/или -p`.
    #   `-r` указывает, какие паттерны нужно удалить. Паттерны будут удалены до запятой или пробела. Например:
    #        /.../userdata	/data	f2fs	noatime,....,inlinecrypt	wait,....,fileencryption=aes-256-xts:aes-256-cts:v2,....,fscompress
    #        с `-m /data -r fileencryption= inlinecrypt` будет удалено fileencryption=aes-256-xts:aes-256-cts:v2. Получится строка:
    #        /.../userdata	/data	f2fs	noatime,....	wait,....,....,fscompress
    #   `-p` указывает, какие паттерны нужно заменить. Например, `-m /data -p inlinecrypt--to--ecrypt`. Получится следующее:
    #        /.../userdata	/data	f2fs	noatime,....,ecrypt	wait,....,fileencryption=aes-256-xts:aes-256-cts:v2,....,fscompress
    #        Можно указать несколько параметров `-p inlinecrypt--to--ecrypt fileencryption--to--notencryption`
    #   `-v` При указании этого флага, все строки в fstab, начинающиеся с `overlay`, будут закомментированы, тем самым отключив системный overlay от производителя. Для ощущения эффекта установите true для опции modify_early_mount.
    #   Пример заполнения:
    #        "-m /data -p fileencryption--to--notencrypteble ice--to--not-ice -r forceencrypt= -m /system -p ro--to--rw -m /metadata -r keydirectory="
    #        Значение по умолчанию: "-m /data -r fileencryption= forcefdeorfbe= encryptable= forceencrypt= metadata_encryption= keydirectory= inlinecrypt quota wrappedkey"
    #
    #--Indonesian--#
    # Blok konfigurasi untuk menghapus atau mengganti pola dalam fstab. Biarkan sebagai default jika Anda tidak yakin tujuannya.
    #   `-m` menentukan baris titik pemasangan untuk menghapus pola. Misalnya, `-m /data`. Setelah bendera ini, Anda perlu menentukan `-r dan/atau -p`.
    #   `-r` menentukan pola mana yang akan dihapus. Pola akan dihapus hingga koma atau spasi. Misalnya:
    #        /.../userdata	/data	f2fs	noatime,....,inlinecrypt	wait,....,fileencryption=aes-256-xts:aes-256-cts:v2,....,fscompress
    #        dengan `-m /data -r fileencryption= inlinecrypt`, fileencryption=aes-256-xts:aes-256-cts:v2 akan dihapus. Menghasilkan baris:
    #        /.../userdata	/data	f2fs	noatime,....	wait,....,....,fscompress
    #   `-p` menentukan pola mana yang akan diganti. Misalnya, `-m /data -p inlinecrypt--to--ecrypt`. Menghasilkan:
    #        /.../userdata	/data	f2fs	noatime,....,ecrypt	wait,....,fileencryption=aes-256-xts:aes-256-cts:v2,....,fscompress
    #        Anda dapat menentukan beberapa parameter `-p inlinecrypt--to--ecrypt fileencryption--to--notencryption`
    #   `-v` Ketika bendera ini ditentukan, semua baris dalam fstab yang dimulai dengan `overlay` akan dicomment, efektif menonaktifkan overlay sistem dari produsen. Untuk merasakan efeknya, atur true untuk opsi modify_early_mount.
    #   Contoh pengisian:
    #        "-m /data -p fileencryption--to--notencrypteble ice--to--not-ice -r forceencrypt= -m /system -p ro--to--rw -m /metadata -r keydirectory="
    #        Nilai default: "-m /data -r fileencryption= forcefdeorfbe= encryptable= forceencrypt= metadata_encryption= keydirectory= inlinecrypt quota wrappedkey"
    #
    #--English--#
    # Configuration block for removing or replacing patterns in fstab. Leave it as default if you are unsure of its purpose.
    #   `-m` specifies the mount point line to remove patterns. For example, `-m /data`. After this flag, you need to specify `-r and/or -p`.
    #   `-r` specifies which patterns to remove. Patterns will be removed up to a comma or space. For example:
    #        /.../userdata	/data	f2fs	noatime,....,inlinecrypt	wait,....,fileencryption=aes-256-xts:aes-256-cts:v2,....,fscompress
    #        with `-m /data -r fileencryption= inlinecrypt`, fileencryption=aes-256-xts:aes-256-cts:v2 will be removed. Resulting in the line:
    #        /.../userdata	/data	f2fs	noatime,....	wait,....,....,fscompress
    #   `-p` specifies which patterns to replace. For example, `-m /data -p inlinecrypt--to--ecrypt`. Resulting in:
    #        /.../userdata	/data	f2fs	noatime,....,ecrypt	wait,....,fileencryption=aes-256-xts:aes-256-cts:v2,....,fscompress
    #        You can specify multiple parameters `-p inlinecrypt--to--ecrypt fileencryption--to--notencryption`
    #   `-v` When this flag is specified, all lines in fstab starting with `overlay` will be commented out, effectively disabling the manufacturer`s system overlay. To feel the effect, set true for the modify_early_mount option.
    #   Example filling:
    #        `-m /data -p fileencryption--to--notencrypteble ice--to--not-ice -r forceencrypt= -m /system -p ro--to--rw -m /metadata -r keydirectory=`
    #        Default value: `-m /data -r fileencryption= forcefdeorfbe= encryptable= forceencrypt= metadata_encryption= keydirectory= inlinecrypt quota wrappedkey`

dfe_paterns="-m /data -r fileencryption= forcefdeorfbe= encryptable= forceencrypt= metadata_encryption= keydirectory= inlinecrypt quota wrappedkey"

#----------------
    
    #--Русский--#
    # Секция конфигурации: Опции внедрения
    #  `where_to_inject`: Эта опция определяет, куда будет внедрен модуль. Выберите один из вариантов:
    #      `super`: Модуль будет прошит в текущий слот рядом с системой, вендором и т. д.
    #      `vendor_boot`: Модуль будет прошит в неактивный слот vendor_boot (недоступно для устройств только с A-разделением).
    #      `boot`: Модуль будет прошит в неактивный слот boot (недоступно для устройств только с A-разделением).
    #
    #--Indonesian--#
    # Seksinya Konfigurasi: Opsi Injeksi
    #  `where_to_inject`: Opsi ini menentukan di mana modul akan diinjeksikan. Pilih salah satu:
    #      `super`: Modul akan dipasang ke slot saat ini bersamaan dengan sistem, vendor, dll.
    #      `vendor_boot`: Modul akan dipasang ke slot tidak aktif vendor_boot (Tidak tersedia untuk perangkat A-only).
    #      `boot`: Modul akan dipasang ke slot tidak aktif boot (Tidak tersedia untuk perangkat A-only).
    #
    #--English--#
    # Configuration Section: Injection Options
    #  `where_to_inject`: This option determines where the module will be injected. Choose one:
    #      `super`: The module will be flashed to the current slot alongside system, vendor, etc.
    #      `vendor_boot`: The module will be flashed to the inactive slot vendor_boot (Not available for A-only devices).
    #      `boot`: The module will be flashed to the inactive slot boot (Not available for A-only devices).

where_to_inject=auto

#----------------

# /dev/block/by-name/ 
# /dev/block/bootdevice/by-name/
path_to_inject=/dev/block/by-name/

#----------------
    
    #--Русский--#
    # Опция установки Magisk
    #  `magisk`: Укажите версию Magisk для установки или оставьте поле пустым.
    #      Доступные версии: Magisk-v27.0, Magisk-v26.4-kitsune-2, Magisk-v26.4, MagiskDelta-v26.4.
    #      Пример: magisk Magisk-v27.0
    #      Чтобы установить Magisk из того же каталога, что и neo.zip, добавьте префикс "EXT:", например, "EXT:Magisk-v24.3.zip".
    #
    #--Indonesian--#
    # Opsi Instalasi Magisk
    #  `magisk`: Tentukan versi Magisk untuk instalasi, atau biarkan kosong.
    #      Versi yang tersedia: Magisk-v27.0, Magisk-v26.4-kitsune-2, Magisk-v26.4, MagiskDelta-v26.4.
    #      Contoh: magisk Magisk-v27.0
    #      Untuk menginstal Magisk dari direktori yang sama dengan neo.zip, tambahkan awalan "EXT:", seperti "EXT:Magisk-v24.3.zip".
    #
    #--English--#
    # Magisk Installation Option
    #  `magisk`: Specify the version of Magisk for installation, or leave it empty.
    #      Available versions: Magisk-v27.0, Magisk-v26.4-kitsune-2, Magisk-v26.4, MagiskDelta-v26.4.
    #      Example: magisk Magisk-v27.0
    #      To install Magisk from the same directory as neo.zip, prefix the version with "EXT:", like "EXT:Magisk-v24.3.zip".

magisk=
