#----------------

languages-EXAMPLE_LNG


languages=ru


#----------------
        
force_start-EXAMPLE_LNG


force_start=false

#----------------

ro_hardware-EXAMPLE_LNG


ro_hardware=

#----------------

disable_verity_and_verification-EXAMPLE_LNG


disable_verity_and_verification=ask

#----------------

hide_not_encrypted-EXAMPLE_LNG


hide_not_encrypted=ask

#----------------

custom_reset_prop-EXAMPLE_LNG


custom_reset_prop=""

#----------------

add_custom_deny_list-EXAMPLE_LNG


add_custom_deny_list=ask

#----------------

zygisk_turn_on-EXAMPLE_LNG


zygisk_turn_on=ask

#----------------

safety_net_fix-EXAMPLE_LNG


safety_net_fix=ask


#----------------

remove_pin-EXAMPLE_LNG


remove_pin=ask

#----------------

wipe_data-EXAMPLE_LNG


wipe_data=false

#----------------

modify_early_mount-EXAMPLE_LNG


modify_early_mount=ask

#----------------

dfe_paterns-EXAMPLE_LNG


dfe_paterns="-m /data -r fileencryption= forcefdeorfbe= encryptable= forceencrypt= metadata_encryption= keydirectory= inlinecrypt quota wrappedkey"

#----------------

where_to_inject-EXAMPLE_LNG


where_to_inject=auto

#----------------

# /dev/block/by-name/ 
# /dev/block/bootdevice/by-name/
path_to_inject=/dev/block/by-name/

#----------------

magisk-EXAMPLE_LNG

   
magisk=