#----------------

languages-EXAMPLE_LNG

LANGUAGE=ru

#----------------
        
force_start-EXAMPLE_LNG


FORSE_START=false

#----------------

ro_hardware-EXAMPLE_LNG

FSTAB_EXTENSION=auto

#----------------

disable_verity_and_verification-EXAMPLE_LNG


DISABLE_VERITY_VBMETA_PATCH=ask

#----------------

hide_not_encrypted-EXAMPLE_LNG


HIDE_NOT_ENCRYPTED=ask

#----------------

custom_reset_prop-EXAMPLE_LNG


CUSTOM_SETPROP=""

#----------------

add_custom_deny_list-EXAMPLE_LNG


INJECT_CUSTOM_DENYLIST_IN_BOOT=ask

#----------------

zygisk_turn_on-EXAMPLE_LNG


ZYGISK_TURN_ON_IN_BOOT=ask

#----------------

safety_net_fix-EXAMPLE_LNG


SAFETY_NET_FIX_PATCH=ask


#----------------

remove_pin-EXAMPLE_LNG


REMOVE_LOCKSCREEN_INFO=ask

#----------------

wipe_data-EXAMPLE_LNG


WIPE_DATA_AFTER_INSTALL=false

#----------------

modify_early_mount-EXAMPLE_LNG


MOUNT_FSTAB_EARLY_TOO=ask

#----------------

dfe_paterns-EXAMPLE_LNG


FSTAB_PATCH_PATERNS="-m /data -r fileencryption= forcefdeorfbe= encryptable= forceencrypt= metadata_encryption= keydirectory= inlinecrypt quota wrappedkey"

#----------------

where_to_inject-EXAMPLE_LNG


WHERE_TO_INJECT=auto

#----------------

magisk-EXAMPLE_LNG

   
INSTALL_MAGISK=